<div class="container">
  <h2 class="mt-3 mb-3"><%= @list.name %></h2>

  <h4 class="mb-3">Add a new bookmark to your list</h4>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <div class="form-inputs">
      <%= f.association :movie %>
      <%= f.input :comment %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-ghost mb-3" %>
    </div>
  <% end %>

  <p>
    <% @list.bookmarks.each do |bookmark| %>
      <h4 class="mb-3">Bookmark
        <%= link_to '<i class="fa-regular fa-trash-can" style="color: #000000;"></i>'.html_safe,
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "mb-3" %>
      </h4>
      <p>Movie: <%= bookmark.movie.title %></p>
      <p>Comment: <%= bookmark.comment %></p>
    <% end %>
  </p>
</div>
